<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
		
	<display-name>MrCode</display-name>	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>
	
	<context-param> 
   	 	<param-name>webAppRootKey</param-name> 
    	<param-value>mrcode.root</param-value>
 	</context-param>
	
	<!-- 配置Spring的用于初始化容器对象的监听器 -->
	<listener>
    	<listener-class>  
        	org.springframework.web.context.ContextLoaderListener  
    	</listener-class>
  	</listener>
	
	<!-- 配置Struts2的核心的过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 做初始化工作的监听器，一定要配到 ContextLoaderListener之后-->
	<!--<listener>
		<listener-class></listener-class>
	</listener>-->
	
	<!-- 配置spring用于解决懒加载的过滤器 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping> 
	
	
	
    <welcome-file-list>
    	<welcome-file>/WEB-INF/view/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>  

