<!DOCTYPE html>
<html lang="en">
<head>
    <title>完善信息</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap-->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <!--字体-->
    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <!--设置头部-->
    <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/yj_style.js"></script>
    <link type="text/css" rel="stylesheet" href="css/static.css">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <!--设置上传图片功能-->
    <script type="text/javascript" src="js/picture_send.js"></script><!--专门用来设置图片上传功能的原生js-->
    <script type="text/javascript" src="js/yj_style.js"></script><!--用来在切换上传方式的时候的div的隐藏和实现上传功能没有关系-->
    <!--&lt;!&ndash;日期输入框&ndash;&gt;-->
    <!--<script src="js/bootstrap-datepicker.js"></script>-->
    <!--<script src="js/locales/bootstrap-datepicker.zh-CN.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">-->
    <!--&lt;!&ndash;轮播,搜索，商品列表&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="css/yj_supply_css.css">-->
    <!--<script src="js/yj_supply.js"></script>-->
    <!--&lt;!&ndash;轮播&ndash;&gt;-->
    <!--&lt;!&ndash;前三种&ndash;&gt;-->
    <!--<script src="js/jquery.luara.0.0.1.min.js"></script>-->
    <!--&lt;!&ndash;第四种和第五种&ndash;&gt;-->
    <!--<script src="js/unslider.min.js"></script>-->


</head>
<body>
<div class="head">
    <div class="header">
        <a href="#menu" class="header-a"><i class="fa fa-reorder head-style"></i></a>
        <span class="header-word">完善信息</span>
        <a href="index.html"><i class="fa fa-home head-style home-style"></i></a>
    </div>

    <nav id="menu">
        <ul>
            <li class="menu-li-head"><a href="hotel.html">酒店入住 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="information.html">完善信息 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="hotel.html">房间管理 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="groom.html">猜你喜欢 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="restaurant.html">餐馆美食 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="visiting.html">游玩攻略 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="traffic.html">交通指南 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="aboutus.html">关于我们 <i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </nav>

</div>
<div class="content">
    <div class="aboutus-content">
        <p class="mobile choose-style-p"><i class=" mobile-special information-name">用户名：</i><span class="content-word">code-sir</span></p>
        <p class="mobile choose-style-p"><i class=" mobile-special information-name">手机号：</i><span class="content-word">18805062345</span> </p>
        <p class="mobile choose-style-p" id="choose-type"><i class=" mobile-special information-name">身份证填写：</i>
            <span class="choose-style-span"><input type="radio" class="choose-style " name="choose" checked="true" value="camera" onclick="changechoose(this)"><i class="fa fa-camera choose-style-i"></i></span>
            <span class="choose-style-span"><input type="radio" class="choose-style" name="choose" value="edit" onclick="changechoose(this)"><i class="fa fa-edit choose-style-i"></i></span>
        </p>
        <!--以下实现图片上传功能-->
        <div id="choose-picture">
            <div id="imagePreview"></div>

            <form name="uploadForm" style="clear:both;">
                <p><input id="imageInput" type="file" name="myPhoto" onchange="loadImageFile();" /><br />
                </p>
            </form>
        </div>
        <!--以上实现图片上传功能-->
        <div id="choose-edit" style="margin-bottom: 50px;text-align: center;display:none">
            <div class="control-group input-top" style="margin-top:50px">
                <input type="text" class="login-in-input" placeholder="请输入身份证号">
            </div>
            <div class="control-group">
                <input type="text" class="login-in-input" placeholder="请输入姓名">
            </div>
            <div class="control-group">
                <button type="submit" class="login-now">提交</button>
            </div>
        </div>
        <!--一下一个按钮是为了回到码券继续预定-->
        <div class="back_to_order">
            <button  class="login-now"><a class="back_order" href="orderstep0.html">继续预定</a></button>
        </div>
    </div>

</div>
<div class="footer">
    <p class="footer-bottom">
        <a href="index.html">首页</a>
        <span class="footer_vertical_line">|</span>
        <a href="groom.html">推荐</a>
        <span class="footer_vertical_line">|</span>
        <a href="management.html">管理</a>
        <span class="footer_vertical_line">|</span>
        <a href="aboutus.html">我们团队</a>

    </p>

</div>

</body>
</html>