<!DOCTYPE html>
<html lang="en">
<head>
    <title>餐馆美食</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap-->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <!--字体-->
    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <!--设置头部-->
    <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/yj_style.js"></script>
    <link type="text/css" rel="stylesheet" href="css/yj_supply_css.css">
    <!--&lt;!&ndash;日期输入框&ndash;&gt;-->
    <!--<script src="js/bootstrap-datepicker.js"></script>-->
    <!--<script src="js/locales/bootstrap-datepicker.zh-CN.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">-->
    <!--&lt;!&ndash;轮播,搜索，商品列表&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="css/yj_supply_css.css">-->
    <!--<script src="js/yj_supply.js"></script>-->
    <!--&lt;!&ndash;轮播&ndash;&gt;-->
    <!--&lt;!&ndash;前三种&ndash;&gt;-->
    <!--<script src="js/jquery.luara.0.0.1.min.js"></script>-->
    <!--&lt;!&ndash;第四种和第五种&ndash;&gt;-->
    <!--<script src="js/unslider.min.js"></script>-->

</head>
<body>
<div class="head">
    <div class="header">
        <a href="#menu" class="header-a"><i class="fa fa-reorder head-style"></i></a>
        <span class="header-word">美食诱惑</span>
        <a href="index.html"><i class="fa fa-home head-style home-style"></i></a>
    </div>

    <nav id="menu">
        <ul>
            <li class="menu-li-head"><a href="hotel.html">酒店入住 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="information.html">完善信息 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="hotel.html">房间管理 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="groom.html">猜你喜欢 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="restaurant.html">餐馆美食 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="visiting.html">游玩攻略 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="traffic.html">交通指南 <i class="fa fa-angle-double-right"></i></a></li>
            <li class="menu-li-head"><a href="aboutus.html">关于我们 <i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </nav>

</div>
<div class="content">
    <div class="list-group"  href="#" >
        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/r_b_h1.jpg')">
            </div>

            <div class="listitem-info">
                <div class="listitem-describation-title">
                    森隆饭庄
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$800</span>
                </div>
            </div>
        </a>

        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/r_b_h2.jpg')">
            </div>


            <div class="listitem-info">
                <div class="listitem-describation-title">
                   聚贤楼
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$900</span>
                </div>
            </div>
        </a>

        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/r_b_h3.jpg')">
            </div>


            <div class="listitem-info">
                <div class="listitem-describation-title">
                    凯旋西餐厅
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$1000</span>
                </div>
            </div>
        </a>

        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/r_b_h4.jpg')">
            </div>


            <div class="listitem-info">
                <div class="listitem-describation-title">
                    龙门阵饭庄
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$700</span>
                </div>
            </div>
        </a>

        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/h_v_h_1.jpg')">
            </div>


            <div class="listitem-info">
                <div class="listitem-describation-title">
                    美丽园
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$800</span>
                </div>
            </div>
        </a>
        <a class="list-group-item"  href="#">
            <div class="listitem-image" style="background-image: url('image/h_v_h_2.jpg');margin-bottom: 50px">
            </div>


            <div class="listitem-info">
                <div class="listitem-describation-title">
                    齐天楼
                </div>
                <div class="listitem-describation-body">
                    <p>味道很棒，环境很好</p>
                </div>
                <div class="listitem-buttom">
                    <span class="listitem-money">$800</span>
                </div>
            </div>
        </a>

    </div>
</div>
<div class="footer">
    <p class="footer-bottom">
        <a href="index.html">首页</a>
        <span class="footer_vertical_line">|</span>
        <a href="groom.html">推荐</a>
        <span class="footer_vertical_line">|</span>
        <a href="management.html">管理</a>
        <span class="footer_vertical_line">|</span>
        <a href="aboutus.html">我们团队</a>

    </p>

</div>

</body>
</html>