
/*设置底部*/
.footer{ line-height:40px; text-align:center;}
.footer-top{ color:#fff; font-weight:bold;}
.footer-bottom{ background:#333; color:#FFF; font-weight:bold;}
.footer-bottom a{ color:#fff;}
.footer_vertical_line{
    padding:5px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #333;
}

/*设置头部的样式*/
.header{
    position:fixed;
    margin-top:0;
    width:100%;
    z-index:9999; }
.body{
    position:relative;
    padding-top:119px;
    width:100%; }
.header{
   padding-top: 7px;
    height: 45px;
    text-align: center;
}
.head{
    height:45px;
    background-color: #33ccff;
    margin-top: 0px;
}
.header-word{
    font-size:20px;
    color:#fff;
    font-weight: bolder;
}
.header-a{
    float: left;
}
.head-style{
    font-size: 30px;
    margin-left: 10px;
    color:#fff
}
.header{
    background-color: #33ccff;
}
.home-style{
    float:right;
    margin-right: 10px;
}
/*设置侧边栏*/
.menu-li-head{
    font-weight: bold;
    font-size: 15px;
    /*color: #0099ff;*/
}
.mm-title{
    font-size: 20px;
    color: #0099ff;!important;
}
/*-----------页面带有左右箭头的轮播-----------*/
.carsousel-image {
    width: 100%
}

/*-------------带有左右箭头--------*/