/*������*/
.first_head{
    background-image: -webkit-linear-gradient(top, #FFFFFF, #eaeaea);
    background-image: -moz-linear-gradient(top, #FFFFFF, #eaeaea);
    background-image: linear-gradient(top, #FFFFFF, #eaeaea);
    box-shadow:0 2px 3px #d2d2d2;
    -webkit-box-shadow: 0 2px 3px #d2d2d2;
    -moz-box-shadow:0 2px 3px #d2d2d2;
    height: 35px;
    line-height: 35px;
}

.fl {
    float: left;
}
/*����*/
.mynav a {
    color: #6c6c6c;
    padding-right: 20px;
    text-decoration: none;
}
.mynav a:hover {
    color: #e6642a;
}
/*pc端不显示mobile端的左右导航*/
.m-mynav-fr,
.m-mynav-fl {
	display: none;
}
/*城市名字*/
#city {
	color: #e6642a;
}
/*�ڶ���*/
.bottom-header {
    display: table;
    margin-top: 15px;
    width: 100%;
    height: 60px;
}
.header-bottom-left{
    padding-left: 3px;
    display: table-cell;
    vertical-align: middle;
}
.header-bottom-right{
    display: table-cell;
    vertical-align: middle;
}

/*������*/
.input-group-addon {
    padding: 0;
    height: 100%;
}
.search {
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    float: right;
    margin: 1.7em 0 0;
}
.in{
    background-color:#FE8752;
    border-radius: 0 5px 5px 0;
    color: #fff;
}
.btn-border{
    border-color: #fff;
}
.btn-border:hover{
    border: none;
    background-color: #fff;
}
.btn-border:focus{
    border:none;
    background-color: #fff;
}
.btn-border:active{
    border:none;
    background-color: #fff;
}
.btn-borsearch{
    border-color: #FE8752;
}
.btn-borsearch:hover{
     border:none;
     background-color: #FE8752;
 }
.btn-borsearch:active{
    border:none;
    background-color: #FE8752;
}
.btn-borsearch:visited{
    border:none;
    background-color: #FE8752;
}

.nav li a {
    display: inline-block;
}

.search-box {
    text-align: right;
    width: 400px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    /*height: 100%;*/
}

.select-btn,
.select-btn:hover {
    border: none;
    background: none;
}

.fr {
    float: right;
    height: 100%;
}

/*logo����ʽ*/
.logo,
.panZhongCanLogo {
    height: 60px;
    width: auto;
}

/*���������ʽ*/
#search-area {
    float: right;
    margin-top: 10px;
    border: #FE8752 solid 2px;     /*ͳһ�߿�*/
    /*background-color: #FE8752;*/
}
#select,
#search_input,
#search_btn {
    height: 40px;               /*ͳһ�߶�*/
    line-height: 20px;
    border: none;
    outline: none;              /*ȡ��۽����ֵĿ�*/
    margin: 0;
    padding: 0;                 /*���߾�*/
}
#select {
    width: 56px;
    background-color: #FFF;
    display:inline-block;
    display:inline-flex;
    display: -moz-inline-stack;
}
#search_input {
    width: 300px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px #ccc inset;
    position: relative;
	top: -1px;
}
#search_btn {
    width: 50px;
    height: 43px;
    padding: 0;
    margin: 0;
    background: #FE8752;
    /*border-top: #FE8752 solid 1px;*/
    color: #fff;
    border-top: 3px solid rgb(254, 135, 82);
}
#search_btn:hover {
    background: #e6642a;
    border-color: #e6642a;
}

/*iframe����header*/
.header {
    width: 100%;
    height: 120px;
}

/*��ѡ������������͡���ť*/
.goto-order{
    float: right;
    margin-left: 50px;
    margin-top: 18px;
    /* right: 30px; */
    /* margin-right: 30px; */
}

.head-btn{
    background:#fecc5f;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#feda71,0),color-stop(#febb4a,1));
    background:-webkit-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:-moz-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:-o-linear-gradient(top, #feda71 0%, #febb4a 100%);
    background:linear-gradient(top, #feda71 0%, #febb4a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#febb4a',GradientType=0 );
    border:1px solid #f5b74e;
    border-color:#f5b74e #e5a73e #d6982f;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    padding:0px 80px 0px 20px;
    height:38px;
    display:inline-block;
    position:relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    /* margin:10px; */
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.head-btn-text{
    padding-top:5px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    color:#381D0A;;
    text-shadow:0 1px 0 #fedd9b;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.head-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #f5b74e;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.head-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../../image/customer/orderStep/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.head-btn:hover{
    height:38px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    text-decoration: none;
}
.head-btn:hover .head-btn-text{

    color:#fff;

}
.head-btn:focus{
    height:38px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    text-decoration: none;
}
.tri{
	top: 17px;
	right: 8px;
	border-top: 3px solid #666;
	z-index: 10;
	position: absolute;
	height: 0px;
	width: 0px;
	line-height: 0;
	font-size: 0px;
	border: 3px dashed transparent;
	color: #666;
}
.searchbox_li{
	padding: 3px 14px 3px 14px;
	line-height: 35px;
	font-size: 14px;
	color: #666;
	cursor: pointer;
	text-align: center;
	list-style: outside none none;
	background: #FFF none repeat scroll 0% 0%;
	z-index: 10;
	display: block;
}
.searchbox_ul{
	position: relative;
	top: 0px;
	left: 0px;
	height: 38px;
	overflow: inherit;
	background: #FFF none repeat scroll 0% 0%;
	z-index: 9;
	color: #666;
	margin-bottom: 0px;
	padding: 0;
}
.searchbox_li:hover{
	color:rgb(254, 135, 82);
}
.searchbox_li_hide{
	position: absolute;
	border-bottom: 2px solid rgb(254, 135, 82);
	border-left: 2px solid rgb(254, 135, 82);
	border-right: 2px solid rgb(254, 135, 82);
	padding-left: 3px;
	width: 57px;
	right: 1px;
	padding-right: 0px;

}
.searchbox_li_none{
	display:none;
}
.hot-query-box{
	float: right;
	margin-top: 8px;
	font-size: 12px;
}
.hot-query{
	height: 22px;
	width: 355px;
	line-height: 22px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.hot-link{
	padding: 0px 7px;
	border-right: medium none;
	height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 72px;
	overflow: hidden;
	color: #666;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	cursor: pointer;
}
.hot-link:hover{
	color:#F60;
}