/*设置关于我们的样式*/
.mobile{
    margin-top:40px;
    font-size: 20px;
}
.mobile-special{
    color:#33ccff;
}
.aboutus-content{
    margin:0 40px;
}
.content-word{
    padding-left:15px;
}
/*设置旅游攻略的样式*/
.decration-no-style-special{
    border: 1px solid #eee;
    height:290px;
}
.listitem-image-no-special{
    height:150px;
}
/*设置交通指南的样式*/
.traffic-word{
    display:inline-table;
    margin-left: 10px;
}
.traffic-modal{
    display:inline-block;
    color:#0099ff;
}
.traffic-maintain{
    margin-left:2em;
    margin-top: 2em;
}
/*完善信息页面的设置*/
.information-name{
    font-style: inherit;
    color: #0099ff;

}
.choose-style{
   padding:5px;
    margin-left:3px;
}
.choose-style-i{
    padding-left:5px;
}
.choose-style-span{
    font-size:20px;
    margin-left:5px;
}
.choose-style-p{
    font-size:18px;
}
.back_order{
    color: #fff;
}
.back_to_order{
    text-align: center;
    margin-bottom:80px;
}


/*设置码券列表*/
.ticket-item{
    height:100px;
    background-color:#ffffcc;
    margin-top: 10px;
    border: 5px solid #ccccff;
    border-radius: 5px;
}
.ticket-name{
    color:#0099ff;
    font-size:15px;
    margin-top: 5px;
    height: 42px;
}
.ticket-money{
    color: orangered;
}
.ticket-money-body{
    margin-top:10px;
    font-size:20px;

}
.ticket-num-body{
   font-size: 20px;
    height:50px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
}
.ticket-num{
    vertical-align: middle;
    color: #fff;
}
.ticket-num-body-color{
    background-color: #33ccff;
}
.content{
    margin-bottom: 50px;
}
.modal-default{
    color:#000;
}
.modal-right{
    color:#fff;
}
.ticket_order_now{
    background-color: #33eeff;
    color: #fff;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 3px;
}
.ticket_order,.ticket_information{
    text-align:center;
}
.ticket_order{
    margin-bottom: 10px;

}
.ticket_information{
    margin-top: 5px;
}
.hotel-image{
    width:100%;
   height:200px;
    margin:0px auto;
    margin-top:5px;
}
.modal-body-size{
    font-size: 18px;
}
.ticket_order_detail{
    color:#33ccff;
    font-size: 17px;
}
.hand-right-style{
    padding-left: 5px;
}
.date{
    font-size: 14px;
    color: #ccccff;
}
/*设置生成订单页面*/
.create-order{
    border:1px dashed #33ccff;
    font-size:20px;
    margin: 10px;
    padding-left: 20px;

}
.order-item-hotel-name,.order-item-hotel-num,.order-item-hotel-people{
    padding:5px;
}
.create-order-title{
    color: #3399ff;
    margin-left:10px;
}
.choosen-hotel-num{
    color:orangered;
    padding-right:5px;
}
.order-submit{
    text-align: center;
    margin: 10px;
}
.submit-now{
    background-color: #66ccff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    height: 40px;
    width: 100%;
}
.create_new{
    background-color: #33ccff;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
.create_new_i{
    padding-right: 2px;
}
.friends_list{
    font-weight: initial;
}

/*缴纳押金页面的样式*/
.paying_content{
    font-size: 20px;
    margin: 20px;
}
.paying_num{
    color: orangered;
}
.paying_content{

}
.panel-body{
    border: 1px dashed #d9edf7;
}
.paying_content_word{
    font-size: 14px;
    margin: 20px;
}
a:hover{
   text-decoration: none;
}
a{
    color: #000;
}
/*选择日期的样式*/
.date_leave{
    height:100px;
    margin: 20px;
    font-size: 20px;
    margin-top: 40px;
}
.leave_word{
        color: #00ABBB;
    font-weight: 700;
}
.leave_date,.start_date{
    border: 1px solid #eee;

}
.date_leave_input{
    margin-top: 15px;
    text-align: center;
}
.calendar_style{
    color: #33ccff;
}

/*设置时间的页面的下一步的位置*/
.next_step{
    text-align: center;
}
.next_step_color{
    color: #fff
}
.next_step a:hover{
    color:#fff
}
.login-now a:hover{
    color:#fff;
}
/*设置完成订单页面*/
.success-title-name{
    font-weight: bold;
    font-size:2em;
    margin-top: 20px;
    text-align: center;
    color:coral;
}
.success-title-name-detail{
    margin-left: 5px;
}
.content-word-style{
    color: coral;
}
.room-style{
    border:1px dashed #33ccff;
    margin-bottom: 10px;
}

/*设置选房页面*/
.building-style{
    color:#0099ff;
}
.hotel-floor{
    font-size: 20px;
    padding: 10px;
 /*    padding-left: 40px; */
}
.image_bigger_style{
    text-align: center;
}
.image_bigger{
    /*vertical-align: middle;*/
    /*margin: 20px;*/
    width: 90%;
    height: 180px;
}
.choose-room{
    padding-left:20px;
    padding-right:20px;
}
.choose-room-span{
    padding-left:0px;
    padding-right:0px;
    font-size:14px;
}
.choose-room-panel-body{
    padding:0px;
}
.choose-room-checkbox{
    padding-left: 5px;
}
.times-style{
    float:right;
}
#choose-room-next-step{
    margin-bottom: 80px;
}

/*上传图片的样式设置*/
#imagePreview {
    width:100%;/*用来控制图片的宽度*/
    height: 200px;/*用来控制图片的高度*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
    border:1px dashed #33eeff;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*设置指示放大的样式*/
.click_for_bigger{
    /*margin-bottom: 10px;*/
    text-align: center;
}

/*设置添加联系人页面的样式*/
.add_friends_now{
    text-align: center;
}
.add_friends_now_word{
    width: 90%;
}
.search-style{
    color:#33eeff;
    margin-right: 5px;
}
.add_friends_input{
    width: 70%;
}
.add_friends_phone{
    margin-right: 14px;
}


/*日期输入框*/
.input-date-sp {
    border: #ddd solid 1px;
    height: 34px;
    padding-left: 10px;
    border-radius: 4px;
}
.input-date-sp:hover,
.input-date-sp:focus {
    border-color: #33ccff;
}
.datepicker table tr td.active {
    background-image: none !important;
    background-color: #6699ff !important;
}

/*按钮*/
.btn-sp {
    border-color:#33ccff;
    color:#33ccff;
}
.btn-sp:hover {
    border-color:#33ccff;
    background-color:#33ccff;
    color: #fff;
}

a:hover,a:focus{
	text-decoration:none;
}

/*设置侧边栏的形式*/
.mm-menu .mm-navbar > a {
    color:#fff
}
.mm-listview > li > a, .mm-listview > li > span{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 10px 10px 10px 20px;
    margin: 0;
    opacity:1;
}
.mm-menu {
    background: #888;
    color: rgba(0, 0, 0, 0.7);
}
.menu-li-head > a{
	color:#fff;
	opacity: 0
}
 li {list-style-type:none;}