*{ margin:0px; padding:0px;}
body{ font-family:微软雅黑; font-size:14px; background:#66ccff;}
a{ text-decoration:none;}
img{ border:0px; width:100%; height:auto;}
ul{ list-style:none;}
.ui-body-c, .ui-dialog.ui-overlay-c{ background:none; text-shadow:none;}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button{ font-family:微软雅黑; }

/*---------脚部内容-------*/
.footer{ line-height:40px; text-align:center;}
.footer-top{ color:#fff; font-weight:bold;}
.footer-bottom{ background:#333; color:#FFF; font-weight:bold;}
.footer-bottom a{ color:#fff;}

.content{ padding:5px; overflow:hidden;}
.content a{ float:left; height:100px; width:23.875%; margin:0px 1.5% 5px 0px; display:block;}
.content a:first-child{ width:49.25%; height:220px; background:#e86eb2;}
.content a:nth-child(2){  background:#1673D2;}
.content a:nth-child(3){  background:#008a00; margin-right:0px;}
.content a:nth-child(4){ width:49.25%; background:#8D0196;margin-right:0px; height:115px;}
.content a:nth-child(5){ background:#990033;}
.content a:nth-child(6){ background:#fd5c04;}
.content a:nth-child(7){ background:#999900;}
.content a:nth-child(8){ background:#666; margin-right:0px;}

.content a div.img{ width:40px; height:40px; background:#093;  margin:0px auto; margin-top:5px;}
.content a div.text{ text-align:center;text-align:center; color:#FFF; font-size:15px; margin-top:5px;}
.content a:first-child div.img{ width:80px; height:80px; margin:0px auto; background:#066; margin-top:30px;}
.content a:first-child div.text{  padding-top:20px;}
.content a:nth-child(4) div.img{ width:50px; height:50px; margin-top:10px;}


/*幻灯片*/
header{text-align:center;   position:relative;      overflow:hidden;}
ul{ margin:0px; padding:0px;}
#nav{ position:absolute; width:100%; height:20px; line-height:20px;   bottom:0px;}
#nav{ float:left; margin-right:5%; opacity:1;} 
#nav ul li{ float:left; background:#fff; border-radius:10px; width:10px; height:10px; margin-left:10px; margin-top:5px; opacity:0.5;}
#nav ul li.active{ background:#fff;opacity:1;}
footer{ text-align:center; line-height:30px; background:#333}
.black{}
.banner{}
.banner img{
	width:100%;
	
	
}
.banner ul li{ float:left;}

 .catemenu {
overflow: hidden;
background-color: #fff;
border-radius: 4px;
margin: 10px 10px 4px 9px;
box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
 .catemenu ul {
width: 100%;
overflow: hidden;
}
.catemenu li {
display: list-item;
text-align: -webkit-match-parent;
}
 .catemenu li {
width: 33.33%;
float: left;
font-size: 15px;
border-top: 1px solid #EDEDED;
}
 .catemenu li:nth-child(-n+3) {
border-top: 0 none;
}
 .catemenu a{
display: block;
border-right: 1px solid #EDEDED;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding:20px 5px;
height:100%;
text-align:center;
}
 .catemenu li:nth-child(3n) a{
border-right: 0 none;
}
img {
max-width: 100%;
height: auto;
width: auto;
border: none;
}
ul {
list-style: none;
}

.weiba-masklayer.black {
    background-color: #000000;
    opacity: 0;
}
/*设置底部*/
.footer_vertical_line{
    padding:5px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    z-index:9999;
}
/*适应不同的手机*/
.index-content{
	overflow: scroll;
    margin-bottom: 50px;
}

