.form-style{
    text-align: center;
    margin: 0 20px;
}
.control-group{
    margin-top: 20px;
    font-size:15px;
}
.login-in-input{
    background: none repeat scroll 0 0 #F9F9F9;
    padding: 8px 0px 8px 4px;
    border: 1px solid #ccc;
    width:85%;
    border-radius: 5px;
}

.input-top{
    margin-top:50px;
}
.wrap-words{
    width:92%;
    padding-left:7.5%;
}
.check-remember{
    width: 100px;
    padding-left: 0px;
}
.no-login-href{
    color:#0099ff;
}
.fl{
    float: left;
}
.forget-password{
    color:#33ccff;
}
.checkbox-word{
    margin:5px;
}
.login-now{
    background-color: #66ccff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    width: 70%;
    height: 50px;
    padding: 0px;
}
.quit_now{
    text-align: center;
    margin-top: 40px;
}
.login-phone-input{
	width: 50%;
	border-radius:0px;
}
.login_phone_num{
	width: 35%;
    border: 1px solid #33ccff;
    color: #fff;
    padding: 8px 0px 8px 4px;
    background-color: #33ccff;
}
.login_phone_submit{
	margin-top:40px;
}

