/*基于bootstrap的应用与采购平台的style*/
/*
颜色：
绿色：#80ae3a
深绿色：#6c9a25
浅绿色：#98c750
*/

/*按钮*/
.btn-sp {
    border-color: #80ae3a;
    color: #80ae3a;
}
.btn-sp:hover {
    border-color: #80ae3a;
    background-color: #80ae3a;
    color: #fff;
}

/*日期输入框*/
.input-date-sp {
    border: #ddd solid 1px;
    height: 34px;
    padding-left: 10px;
    border-radius: 4px;
}
.input-date-sp:hover,
.input-date-sp:focus {
    border-color: #80ae3a;
}
.datepicker table tr td.active {
    background-image: none !important;
    background-color: #6c9a25 !important;
}