/*------------------------------轮播---------------------------------*/
.luara-hide li {
    list-style: none;
}

/*------------渐隐----------*/
.luara- {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.luara- ul {
    padding: inherit;
    margin: 0;
}

.luara- ul li {
    display: none;
    padding: inherit;
    margin: inherit;
    list-style: none;
}

.luara- ul li:first-child {
    display: block;
}

.luara- ul li img {
    width: inherit;
    height: inherit;
}

.example {
}

.example ol {
    position: relative;
    height: 20px;
    top: -30px;
    left: 60px;
}

.example ol li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #fff;
}

.example ol li.seleted {
    background: #98c750;
}

/*------------渐隐----------*/

/*-----------上滑-----------*/
.luara-top {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.luara-top ul {
    position: relative;
    padding: inherit;
    margin: 0;
}

.luara-top ul li {
    padding: inherit;
    margin: inherit;
    list-style: none;
}

.luara-top ul li img {
    width: inherit;
    height: inherit;
}

.example1 {
}

.example1 ol {
    position: relative;
    height: 20px;
    top: -30px;
    left: 60px;
}

.example1 ol li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #fff;
}

.example1 ol li.seleted {
    background: #98c750;
}

/*-----------上滑-----------*/

/*------------左滑------------*/
.luara-left {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.luara-left ul {
    position: relative;
    padding: inherit;
    margin: 0;
}

.luara-left ul li {
    float: left;
    padding: inherit;
    margin: inherit;
    list-style: none;
}

.luara-left ul li img {
    width: inherit;
    height: inherit;
}

.example2 {
}

.example2 ol {
    position: relative;
    height: 20px;
    top: -30px;
    left: 60px;
}

.example2 ol li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #fff;
}

.example2 ol li.seleted {
    background: #98c750;
}
/*------------左滑------------*/

/*-------------带有左右箭头-----------*/
.carsousel-image {
    width: 100%
}

/*-------------带有左右箭头--------*/


/*------------------------------轮播---------------------------------*/

/*------------------------------商品列表-----------------------------*/
/*--------------横向-----------------*/
.list-group{
    background-color: #eee;
    padding: 2px;
}
.listitem-image{
    display:inline;
    float: left;
    width:40%;
    /*background-image: url("../image/1.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:118px;
}
.list-group-item
{
    padding:0px;
    height:120px;
    margin:2px;

}
.listitem-info{
    width:60%;
    display: inline;
    float:left;
    padding-left: 5px;
}

.listitem-describation-title{
    width:100%;
    height:35px;
    color:#5bc0de;
    font-size: 20px;

}
.listitem-describation-body{
    width:100%;
    height:50px;
    color: #000000;
    padding-top: 10px;

}
.listitem-buttom{
    width:100%;
    height:35px;

}
.listitem-money{
    color:orangered;
    font-size: 25px;
    margin-bottom: 4px;
}

/*--------------横向-----------------*/
/*--------------纵向-----------------*/
.list-group-no{
    background-color: #eee;
}
.listitem-group-decration-no{
    height:320px;
    width:49%;
    background-color: #fff;
    padding: 5px;
    display: inline-block;
}
.listitem-image-no{
    width:100%;
    height:200px;
    display: block;
    /*background-image: url("../image/1.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.listitem-info-no{
    display: block;
    height: 100px;
    width:100%;
}
.list-group-no a:link, a:visited{
 text-decoration: none;
}

/*--------------纵向-----------------*/

/*------------------------------商品列表-----------------------------*/